<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="../controllers/myApp.js"></script>
    <script src="../controllers/mainCtrl.js"></script>
    <script src="../controllers/ghCtrl.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/project.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>project</title>
</head>
<body ng-app="myApp.controllers">
    <nav ng-controller="navCtrl">
        <ul class="navBar">
                <li class="leftSide"> <a href="../../index.html" id="home"> <img src="../images/thumbnail.png"/></a> </li>
                <li class="rightSide"> <a href="contact.html" id="contact"> Contact </a> </li>
                <li class="rightSide"> <a href="../images/resume.pdf" id="resume"> Resume </a> </li>
                <li class="rightSide"> <a href="https://github.com/hirthanan" id="github"> Github </a> </li>
                <li class="rightSide"> <a href="about.html" id="about"> About </a> </li>
                <li class="rightSide"> <a href="project.html" id="project"> Projects </a> </li>
                <li class="icon"> <a href="javascript:void(0);" ng-click="myFunction()">&#9776;</a> </li>
        </ul>
    </nav>
    <div ng-controller="ghCtrl">
        <!-- <p> My updated list of projects include: {{projects}} </p> -->
        <h2> View some of my projects, dynamically retrieved from my Github: </h2>
        <br/> <br/>
        <center>
            <span ng-repeat="(index, project) in projects">
                <button class="button"> <a href={{project.gh_url}}> {{ project.name }} </a> </button>
                <br ng-show="(index+1)%3==0" />
            </span>
        </center>
    </div>
</body>

</html>