


#email {
    color: grey;
    text-decoration:none;
}

#phone {
    color: green;
    display:inline-block;
}

#linkedin {
    color:#0084bf;
    text-decoration:none;
}

@media screen and (max-width:670px) {
    .contactInfo {
        font-size: 2vw;
    }

}
