/*Main CSS file*/

* {
    white-space: nowrap;
}

body {
    font-family: monospace;
    background-color: #F5F5DC;
}

header {
    background: transparent;
    width: 100%;
    text-align: center;
    color: navy;
    font-size: 400%;
}

.navBar {
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2da;
}

.navBar li{
    list-style-type: none;
}

.leftSide {
    margin-top: -5px;
    height: 58px;
    float: left;
}

.leftSide:hover {
    background-color: gold;
}

.rightSide {
    float: right;
    color: dodgerblue;
    border-left: 0.5px solid black;
}

.rightSide:hover {
    background-color: dodgerblue;
    color: #f1f1f1;
}


.navBar li a {
    display: inline-block;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    /*transition: 0.3s;*/
    font-size: 15px;
}

#home {
    width: 20%;
    height: auto;
}


a {
    text-decoration: none;
    color: inherit;
    float: center;
}

.nameBox {
    height: 50%;
    font-size: 40%;
    width: 50%;
    text-align: center;
    resize: both;
}

.spacing {
    padding: 5%;
}

.icon {
    display: none;
}


@media screen and (max-width:470px) {
  ul.navBar li:not(:first-child) {
      display: none;
      }
  ul.navBar li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:470px) {
  #home {
      width: 7%;
      height: auto;
  }

  ul.navBar.responsive {position: relative;}
  ul.navBar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.navBar.responsive li {
    float: none;
    display: inline;
    border: none;
  }


  ul.navBar.responsive li a {
    display: block;
    text-align: left;
    color: black;
  }

  ul.navBar.responsive li a:hover {
      background-color: dodgerblue;
      color: #f1f1f1;
  }

}

.intro {
    font-size: 2vw;
}